.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vov {
  color: red;
}

.beb {
  color: blue
}

.bebr{
  color: red;
}

.aa {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.BS {
  width: 50px;
  height: 50px;
  background: #61dafb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.avys{
  display:flex;
  justify-content: space-around;
  gap: 200px;
}
.setup{
  color: rgb(1, 61, 1);
  background-color: rgb(211, 248, 155);
  border: 1px solid red;
  border-radius: 20%;
 }
 
 .joke{
   color: rgb(56, 1, 61);
   background-color: rgb(248, 155, 239);
   border: 1px solid red;
   border-radius: 20%;
 }

 .S {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  width: 500px;
}

.buttons button {
  min-width: 50px;
}

.kvc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  width: 500px;
}

.linija {
  margin: 20px;
  border: 2px dotted tomato;
}

.super {
  color: red;
}




.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display: flex;
  justify-content: center;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




/* filmas */

.filmuTevas{
  display: flex;
  gap: 40px;
  padding-bottom: 40px;
  justify-content: center;
  /*opacity: 0;*/
  /*pointer-events: none;*/
  /*overflow: hidden;/**/
  /*display: none;/**/
}

.filmuTevas img {
  height: 500px ;
  width: 400px ;

}

.vaikasMazas {
  width: 30%;
}

.vaikasDidelis{
    width: 50%;
}

.filmuVaikas {
  /*display: grid;*/
  text-align: left;
}

.reitingai{
  width: 200px;
  height: 100px;
  display: flex;
  margin: 0px !important;
  gap: 15px;
}

.star{
  height: 100px;
align-self: center;
}
.vote{
  display: grid;
}
.vote2{
  display: flex;
  height: 35px;
}

.vote2 > h4 {
  padding-top: 8px;
}




.searchInputs {
  width: 100vw;
  /*display: flex;*/
  background-color: red;
}

.search input {
  width: 90%;
  background-color: rgb(241, 99, 99);
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  max-width: 100vw;
  margin: 10px 30px;
}

input:focus {
  outline: none;
}

.dataResult {
  margin-top: 5px;
  min-width: 600px;
  height: auto;
  background-color: rgb(35, 222, 25);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
  
}


.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}
a {
  text-decoration: none;
}

a:hover {
  background-color: rgb(234, 15, 15);
}

#clearBtn {
  cursor: pointer;
}
@media (max-width: 850px) {
  .filmuTevas{
    display: flex;
    flex-direction: column;
  }

  .vaikasMazas{
   width: 90%;
    align-self: center;
  }
  .vaikasDidelis{
    min-width: 90%;
    align-self: center;
  }
}